.drawer-container>.drawer {
    min-width: 30px;
    flex-basis: 30px;
    transition: 0.5s;
    overflow: hidden;
    opacity: 0.25;
}

.drawer-container>.drawer:hover {
    flex-basis: 250px;
    opacity: 1;
}

.drawer-container>.drawer>.drawer-section {
    min-width: 250px;
}

.alert-dropdown div {padding: 0 .5rem .5rem;}
body.page-forum .forumcategoryblock .forumcategoryblock {margin: 5px0rem5px0rem;}

.ql-container.ql-snow .ql-editor blockquote {color: #0A0;}
.ql-snow .ql-editor blockquote {padding-left: 0;}
.ql-container.ql-snow .ql-editor blockquote::before {
    content: ">";
    opacity: 1;
    padding-right: 0;
}

/*highlight your own posts*/
.postblock.postblock-own .postcontent{
    background: linear-gradient(to right, rgb(255, 255, 236), #fff512px);
}

spoiler,
spoiler a:not(:hover) {
    text-decoration: none;
    transition: none;
    filter: none;
    background: #000000!important;
    color: #000000!important;
}

spoiler:hover,
spoiler:focus {
    filter: none;
    transition: none;
    color: #FFFFFF!important;
}


